<H1 class="text-center">System KMB Trading</H1>
<div class="card">
  <canvas id="realtime1"> {{chart3}} </canvas>
  <!-- <div class="card-content">
    <h3>Tiempo real</h3>
    <p>Grafica en tiempo real</p>
  </div> -->
<div class="container" style="background-color: black;">
<div class="row text-center">
<div class="col-3">

  <button type="button" class="btn btn-outline-dark text-white" (click)="getBolsas2(4)">1 Día</button>
</div>
  <div class="col-3">

    <button type="button" class="btn btn-outline-dark text-white" (click)="getBolsas2(3)">3 Horas</button>
  </div>
  <div class="col-3">

    <button type="button" class="btn btn-outline-dark text-white" (click)="getBolsas2(2)">30 Minutos</button>
  </div>
  <div class="col-3">

    <button type="button" class="btn btn-outline-dark text-white" (click)="getBolsas2(1)">Segundos</button>
  </div>
</div>
</div>

</div>


